.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    height: 75px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.header-container h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 2rem;
}

.app-nav {
    display: flex;
    position: absolute;
    gap: 5px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
}

a.active {
    color: var(--active-link);
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}