.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    z-index: 998;
}


.modal-contant {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
