.toy-preview {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
}

.toy-preview:hover img {
    transform: scale(1.8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.toy-preview h4 {
    text-transform: capitalize;
    color: black;
}

.toy-preview img {
    max-width: 100px;
    place-self: center;
    transition: transform, 0.3s ease-in-out;
}